body{
	padding:0;
	margin:0;
}

label{
	position:absolute;
	left:50%;
	top:50%;
	--c:translate(-50%,-50%);
	transform:var(--c);
	mix-blend-mode:darken;
}

.sw{
	position:relative;
	left:0;top:0;
	width:48px;
	height:48px;
}

label > input{
	position:absolute;
	left:0;
	top:0;
	z-index:5;
	opacity:0;
}

.sw span{
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:var(--c);
	border-radius:50%;
	width:70%;
	height:70%;
	background:#FFAC33;
	border:5px solid white;
	transition:all ease 0.15s;
}

.sw div{
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
}

.sw div::before, .sw div::after{
	content:" ";
	display:block;
	position:absolute;
	left:50%;top:50%;
	transform:var(--c);
	background:#FFAC33;
	width:12%;
	height:130%;
	border-radius:10px;
	transition:all ease 0.15s;
}

.sw div:nth-child(1)::before{transform:var(--c) rotate(0deg)}
.sw div:nth-child(1)::after{transform:var(--c) rotate(45deg)}
.sw div:nth-child(2)::before{transform:var(--c) rotate(90deg)}
.sw div:nth-child(2)::after{transform:var(--c) rotate(135deg)}

.sw::before, .sw::after{
	content:" ";
	position:absolute;
	left:50%;
	top:50%;
	transform:var(--c);
	border-radius:50%;
	background:white;
	transition:all ease 0.15s;
}

.sw::before{
	width:0%;
	height:0%;
	z-index:10;
}

.sw::after{
	width:50%;
	height:50%;
}

input:checked ~ .sw span{
	width:100%;
	height:100%;
	background:#66757F;
}

input:checked ~ .sw div::before,
input:checked ~ .sw div::after{
	height:50%;
}

input:checked ~ .sw::before{
	left:30%;
	top:30%;
	width:90%;
	height:90%;
}

input:checked ~ .sw::after{
	width:0%;
	height:0%;
}

input:not(:checked) ~ .sw{
	transform:rotate(180deg);
	transition:all ease 2.15s 0.1s;
}